.contact {
    padding: 0 75px 50px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-content {
    width: 50%;
}

.contact-form {
    padding: 25px 50px;
    border: #222222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--semidark);
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid #1864EE;
    outline: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.contact-form form button {
    background: #1864EE;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #002d81;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
    cursor: pointer;
}

form textarea {
    resize: none;
}

@media (max-width: 950px) {
    .contact-content {
        display: block;
    }

    .contact-content div {
        width: 100%;
        margin-bottom: 0;
    }
}