.contact {
    padding: 0 75px 50px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 3px solid #ff7a21;
    outline: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.contact-form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form form button {
    background: #ff7a21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    width: 50%;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #ba4b00;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
    cursor: pointer;
}

form textarea {
    resize: none;
}

.poker-table {
    width: 80vw;
    height: 36vw;
    background: #222;
    /* borde exterior oscuro */
    border-radius: 150px;
    position: relative;
    box-shadow:
        0 0 10px #000 inset,
        0 0 30px #000,
        0 0 50px rgba(0, 0, 0, .6);
}

/* CONTORNO NARANJA INTERIOR */
.poker-table::before {
    content: "";
    position: absolute;
    inset: 20px;
    border-radius: 150px;
    background: linear-gradient(#ff7a21, #ba4b00);

}

/* SUPERFICIE VERDE DE LA MESA */
.table-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 40px;
    background: radial-gradient(circle at center,
            #0d8d35 0%,
            #0c7e2c 40%,
            #0a6a25 100%);
    border-radius: 150px;
    box-shadow:
        0 0 15px rgba(0, 0, 0, .5) inset,
        0 0 10px rgba(0, 0, 0, .7);
}

.table-inner form {
    width: 80%;
}

@media (max-width: 1200px) {
    .poker-table {
        height: 60vh;
    }
}

@media (max-width: 950px) {
    .contact-form form button {
        width: 100%;
        padding: 0.5em;
    }

    .contact-form form input,
    .contact-form form textarea {
        padding: 0;
    }

    .table-inner form {
        line-height: 1;
        font-size: 15px;
    }
}