:root {
    --red: rgb(220, 25, 33);
    --coffee: #8B0000;
    --semidark: #2c2b2b
}

* {
    box-sizing: border-box;
}

html,
body {
    overflow-y: scroll;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

.app-wrapper {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(135deg, #050018 0%, #2800ff 50%, #6c00ff 100%);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

#root {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

section {
    height: 100vh;    
}

h1 {
    margin: 20px 0 !important;
}

.tag {
    font-weight: bolder;
    color: #2b47ff;
}

.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 0;
}

/* HOME */
.menu-btn {
    position: absolute;
    cursor: pointer;
    right: 25px;
    top: 10px;
    color: #fff;
    display: none;
}

.nav {
    position: fixed;
    color: white;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: larger;
    z-index: 1;
}

.nav-items {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    width: 50%;
    padding-left: 80px;
}

.nav-menu {
    width: 50%;
    padding-right: 80px;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-menu ul li a {
    color: #6d6b6b;
    text-decoration: none;
}

.nav-menu ul li a.active {
    color: #fff;
    transition: .4s ease color;
}

.wallpaper {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.wallpaper-content {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: #fff;
}

.wallpaper-photo img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.wallpaper-regards {
    min-width: 400px;
}

.wallpaper-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wallpaper-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.wallpaper-buttons a {
    margin: 0 10px;
    font-size: 2.5rem;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.wallpaper-buttons a:hover {
    transform: scale(1.5);
}

.wallpaper-buttons img {
    width: 40px;
}

.typing {
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 2.5rem;
    /* border-right: 3px solid white; */
    white-space: nowrap;
    overflow: hidden;
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

.resume {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 0;
    background-color: var(--red);
    color: #fff;
    width: 500px;
}

.resume:hover {
    color: #fff;
    background: var(--coffee);
    transition: background-color 1s ease-out;
}

/* PORTFOLIO */
.portfolio {
    padding: 0 150px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    margin: 10px 0;
}

.project {
    width: 100%;
    height: auto;
    border: #222222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project-header img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.project-body {
    padding: 10px 20px;
    text-align: justify;
}

.project-body strong {
    font-size: 18px;
}

.project-body p {
    font-size: 12px;
}

.project-tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
}

.project-tools .tag {
    background-color: #1233c4;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0.25rem;
    font-size: 12px;
}

.project-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px 30px;
}

.project-footer a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    background-color: var(--red);
    width: 50%;
    padding: 4px 0;
    border-radius: 0.25rem;
}

.project-footer a:hover {
    background-color: var(--coffee);
    transition: background-color 1s ease-out;
}

.project.flip-card {
    position: relative;
    cursor: pointer;
    height: 600px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.project.flip-card.is-flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: var(--semidark);
}

.flip-card-front {
    z-index: 2;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-back img {
    width: 100%;
    height: 100%;
}


/* SKILLS */
.skillset {
    padding: 0 75px;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}

.skill {
    border: #222222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.skill-title {
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 15px;
    background-color: #222222 !important;
}


.skill-body {
    padding: 25px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item img {
    width: 4rem;
}

.skill-item p {
    font-size: 12px;
    text-align: center;
}

/* CONTACT */
.contact {
    padding: 0 75px 50px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-content {
    width: 50%;
}

.contact-form {
    padding: 25px 50px;
    border: #222222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--semidark);
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid #1864EE;
    outline: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.contact-form form button {
    background: #1864EE;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #002d81;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
    cursor: pointer;
}

form textarea {
    resize: none;
}


/* RESPONSIVE DESIGN */
@media (max-width: 950px) {
    section {
        height: auto;
        margin-bottom: 150px;
    }

    .menu-btn {
        display: block;
        color: #5138f3;
    }

    .nav-items {
        position: relative;
    }

    .nav-menu {
        opacity: 0;
        transform: translateY(0px);
        pointer-events: none;
        transition: all 0.2s ease;
        position: absolute;
        width: 100%;
        left: 0;
    }

    .nav-menu.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .nav-menu ul {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        left: 0;
        top: 60px;
        display: block;
    }

    .nav-menu ul li {
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
    }

    .projects {
        grid-template-columns: 1fr 1fr;
    }

    .project-text {
        font-size: 12px;
    }

    .skills {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .contact-content {
        display: block;
    }

    .contact-content div {
        width: 100%;
        margin-bottom: 0;
    }
}

@media(max-width: 750px) {
    .projects {
        grid-template-columns: 1fr;
    }

    .skills {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 600px) {
    .skills {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 475px) {
    .wallpaper-content {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
}