@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --red: rgb(220, 25, 33);
    --coffee: #8B0000;
    --semidark: #2c2b2b --velvet-dark: #0f0306;
    --velvet: #1a0509;
    --crimson: #8b0014;
    --platinum: #1b1a1a;
    --platinum-deep: #4e4c4c;
    --ivory: #fff9ec;
    --ink: #1c1200;

    --gold-1: #fff6bf;
    --gold-2: #ffd76a;
    --gold-3: #e6a400;
    --gold-4: #8a5400;
    --brass: #c59a49;

    --gold-glow: rgba(255, 204, 0, 0.35);
    --crimson-glow: rgba(139, 0, 20, 0.45);
    --platinum-glow: rgba(32, 32, 32, 0.35);

    --radius-lg: 24px;
    --radius-md: 14px;
    --radius-sm: 10px;

    --bg1: #0b1020;
    --bg2: #2b0b3a;
    --neon1: #00f7ff;
    --neon2: #ff00e6;
    --accent: #ffd24d;
    --glass: rgba(255, 255, 255, 0.06)
}



html,
body {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    background:
        radial-gradient(circle at 50% 40%, rgba(0, 140, 255, 0.12), transparent 55%),
        radial-gradient(circle at 20% 80%, rgba(255, 0, 120, 0.10), transparent 50%),
        radial-gradient(circle at 80% 20%, rgba(255, 200, 0, 0.08), transparent 45%),
        linear-gradient(180deg, #05010f, #02010a);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

#root {
    width: 100%;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    max-width: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.section-header {
    display: block;
    margin: 8px auto 18px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.02));
    border: 12px double var(--neon2);
    width: 100%;
    border-radius: 8px;
    padding: 8px 12px;
    overflow: hidden;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.section-header .line {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 15s linear infinite;
    font-family: 'Press Start 2P';
    font-size: 36px;
    color: var(--neon1);
    text-shadow: 0 0 8px rgba(0, 247, 255, 0.8);
    padding-right: 6vw;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.tag {
    font-weight: bolder;
    color: #2b47ff;
}

/* RESPONSIVE DESIGN */
@media (min-width: 320px) and (max-width: 750px) {
    .about,
    .portfolio,
    .skill-dice,
    .contact {
        padding: 0 25px;
    }
}