:root {
    --red: rgb(220, 25, 33);
    --coffee: #8B0000;
    --semidark: #2c2b2b
}

* {
    box-sizing: border-box;
}

html,
body {
    overflow-y: scroll;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

.app-wrapper {
    min-height: 100vh;
    min-width: 100vw;
    background: radial-gradient(circle at top, #0b0b0b 0%, #4a0000 80%);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

#root {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

section {
    height: 100vh;
}

.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 0;
}

h1 {
    margin: 20px 0 !important;
}

.tag {
    font-weight: bolder;
    color: #2b47ff;
}

.project.flip-card {
    position: relative;
    cursor: pointer;
    height: 600px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.project.flip-card.is-flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: var(--semidark);
}

.flip-card-front {
    z-index: 2;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-back img {
    width: 100%;
    height: 100%;
}

/* RESPONSIVE DESIGN */
@media (max-width: 950px) {
    section {
        height: auto;
        margin-bottom: 150px;
    }
}