body {
    background: #333;
}

.skill-dice {
    position: relative;
    padding: 0 75px;
    height: 100vh;
    margin-bottom: 20vh;
}

.dice-wrap {
    --s: 320px;
    position: absolute;
    width: calc(var(--s) * 2);
    height: calc(var(--s) * 2);
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 900px;
}

.dice-wrap::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 10%;
    top: 90%;
    left: 15%;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    filter: blur(12px);
}

.dice {
    position: absolute;
    width: var(--s);
    height: var(--s);
    top: 64%;
    left: 20%;
    transform-style: preserve-3d;
    transform: translate(0%, 0%) rotateX(-18deg) rotateY(28deg);
    transition: 0.5s cubic-bezier(0.42, 1.57, 0.62, 0.86);
    cursor: pointer;
}

.dice.rolling {
    animation: rotatePerFace 3s cubic-bezier(0.42, 1.57, 0.62, 0.86) infinite;
}

.dice.throw {
    animation: rotateDice 0.7s ease-in reverse, throwDice 1s linear;
}

.dice-face {
    position: absolute;
    width: var(--s);
    height: var(--s);
    background: #f6f3f0;
    border-radius: 20px;
    border: 2px solid #fff;
    box-sizing: border-box;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.face-content.dice-mode {
    justify-content: center;
}

.face-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: #111;
}

.face-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
    width: 100%;
}

.face-icons img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}


/* Faces */
.front {
    transform: translateZ(calc(var(--s) / 2));
}

.up {
    transform: rotateX(90deg) translateZ(calc(var(--s) / 2));
}

.left {
    transform: rotateY(-90deg) translateZ(calc(var(--s) / 2));
}

.right {
    transform: rotateY(90deg) translateZ(calc(var(--s) / 2));
}

.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--s) / 2));
}

.back {
    transform: rotateX(180deg) translateZ(calc(var(--s) / 2));
}

/* Colors */
.dice.black .dice-face,
.list.black .list-face {
    background: #111;
    border: 2px solid #504e4e;
}

.dice.black .dice-face .face-title,
.list.black .list-face .face-title {
    color: #fff;
}

/* Controller */
.controller {
    right: 0px;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    color: white;
    padding: 16px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 150px;
}

.controller select {
    border-radius: 8px;
    padding: 12px;
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
    font-size: 16px;
}

/* Animations */
@keyframes rotateDice {
    30% {
        transform: rotate3d(1, 1, 1, 0deg);
    }

    100% {
        transform: rotate3d(1, 1, 1, 720deg);
    }
}

@keyframes rotatePerFace {
    16% {
        transform: rotate3d(-0.1, 0.6, -0.4, 180deg);
    }

    32% {
        transform: rotate3d(-0.85, -0.42, 0.73, 180deg);
    }

    48% {
        transform: rotate3d(-0.8, 0.3, -0.75, 180deg);
    }

    64% {
        transform: rotate3d(0.3, 0.45, 0.9, 180deg);
    }

    80% {
        transform: rotate3d(-0.16, 0.6, 0.18, 180deg);
    }

    100% {
        transform: rotate3d(-0.1, 0.3, -1, 180deg);
    }
}

@keyframes throwDice {
    20% {
        margin-top: -360px;
    }

    40% {
        margin-top: 0px;
    }

    60% {
        margin-top: -30px;
    }

    80% {
        margin-top: 0px;
    }

    85% {
        margin-top: -10px;
    }

    90% {
        margin-top: 0px;
    }

    95% {
        margin-top: -3px;
    }

    100% {
        margin-top: 0px;
    }
}

.list-wrap {
    width: 100%;
    padding: 0 200px;
}

.list {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 25px;
}

.list-face {
    width: 250px;
    height: 250px;
    background: #f6f3f0;
    border-radius: 16px;
    box-shadow:
        inset 0 2px 6px rgba(255, 255, 255, 0.6),
        inset 0 -4px 8px rgba(0, 0, 0, 0.15),
        0 12px 24px rgba(0, 0, 0, 0.35);
    position: relative;
}

/* RESPONSIVE */
@media (min-width: 320px) {
    .dice-wrap {
        --s: 200px;
    }

    .list-wrap {
        padding: 0 10px;
        height: 60vh;
        display: flex;
        justify-content: center;
        overflow-y: auto;
    }

    .list {
        grid-template-columns: 1fr;
    }

    .list-face {
        width: 200px;
        height: 200px;
    }

    .face-icons img {
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 500px) {
    .dice-wrap {
        --s: 250px;
    }

    .list {
        grid-template-columns: 1fr 1fr;
    }

    .list-wrap {
        padding: 0 10px;
    }

    .list-wrap {
        height: auto;
        overflow-y: hidden;
    }
}


@media (min-width: 750px) {
    .dice-wrap {
        --s: 300px;
    }

    .list-face {
        width: 250px;
        height: 250px;
    }

    .face-icons img {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 1000px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
    }
}

@media (min-width: 1450px) {
    .list-wrap {
        padding: 0 300px;
    }

    .dice-wrap {
        --s: 400px;
    }

    .list {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;
    }

    .list-face {
        width: 360px;
        height: 360px;
    }

    .face-icons img {
        width: 75px;
        height: 75px;
    }
}