body {
    background: #333;
}

.skill-dice {
    position: relative;
    padding: 0 75px;
    height: 100vh;
    margin-bottom: 20vh;
}

.diceWrap {
    --s: 320px;
    position: absolute;
    width: calc(var(--s) * 2);
    height: calc(var(--s) * 2);
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.diceWrap::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 10%;
    top: 90%;
    left: 15%;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    filter: blur(12px);
}

.dice {
    position: absolute;
    width: var(--s);
    height: var(--s);
    top: 64%;
    left: 20%;
    transform-style: preserve-3d;
    transform: translate(0%, 0%) rotateX(-18deg) rotateY(28deg);
    transition: 0.5s cubic-bezier(0.42, 1.57, 0.62, 0.86);
}

.dice.rolling {
    animation: rotatePerFace 3s cubic-bezier(0.42, 1.57, 0.62, 0.86) infinite;
}

.dice.throw {
    animation: rotateDice 0.7s ease-in reverse, throwDice 1s linear;
}

.diceFace {
    position: absolute;
    width: var(--s);
    height: var(--s);
    background: #f6f3f0;
    border-radius: 20px;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: red;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Faces */
.front {
    transform: translateZ(calc(var(--s) / 2));
}

.up {
    transform: rotateX(90deg) translateZ(calc(var(--s) / 2));
}

.left {
    transform: rotateY(-90deg) translateZ(calc(var(--s) / 2));
}

.right {
    transform: rotateY(90deg) translateZ(calc(var(--s) / 2));
}

.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--s) / 2));
}

.back {
    transform: rotateX(180deg) translateZ(calc(var(--s) / 2));
}

/* Colors */
.dice.black .diceFace {
    background: #111;
}

/* Controller */
.controller {
    /* position: fixed; */
    right: 0px;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    color: white;
    padding: 16px;
    text-align: center;
    position: absolute;
}

/* Animations */
@keyframes rotateDice {
    to {
        transform: rotate3d(1, 1, 1, 720deg);
    }
}

@keyframes rotatePerFace {
    100% {
        transform: rotate3d(-0.1, 0.3, -1, 180deg);
    }
}

@keyframes throwDice {
    20% {
        margin-top: -80px;
    }

    40% {
        margin-top: 0;
    }
}