.skillset {
    padding: 0 75px;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
}

.skill {
    width: 100%;
    height: auto;
    border: #222222;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.35);
}

.skill-title {
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 15px;
    background-color: #222222 !important;
}


.skill-body {
    padding: 25px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-item img {
    width: 4rem;
}

.skill-item p {
    font-size: 12px;
    text-align: center;
}

@media (max-width: 950px) {
    .skills {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width: 750px) {
    .skills {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 600px) {
    .skills {
        grid-template-columns: 1fr 1fr;
    }
}