.portfolio {
    padding: 80px;
    margin-bottom: 20vh;
    font-family: Roboto, sans-serif;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.project {
    width: 100%;
    height: auto;
    border: #222222;
}

.project-header img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.project-body {
    padding: 10px 20px;
    text-align: justify;
    color: #000;
}

.project-body strong {
    font-size: 18px;
}

.project-body p {
    font-size: 12px;
}

.project-tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
}

.project-tools .tag {
    background-color: #1233c4;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0.25rem;
    font-size: 12px;
}

.project-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;
    position: absolute;
    gap: 10px;
    padding: 10px 20px 30px;
}

.project-footer a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    background-color: var(--red);
    width: 50%;
    padding: 4px 0;
    border-radius: 0.25rem;
}

.project-footer a:hover {
    background-color: var(--coffee);
    transition: background-color 1s ease-out;
}

.project.flip-card {
    position: relative;
    cursor: pointer;
    height: 80vh;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.project.flip-card.is-flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* background-color: var(--semidark); */
    background-color: #e4e4c5;
}

.flip-card-front {
    z-index: 2;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-back img {
    width: 100%;
    height: 100%;
}


@media (max-width: 950px) {
    .projects {
        grid-template-columns: 1fr 1fr;
    }

    .project-text {
        font-size: 12px;
    }
}

@media(max-width: 750px) {
    .projects {
        grid-template-columns: 1fr;
    }
}