.nav {
    position: fixed;
    color: white;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: larger;
    z-index: 1;
    top: 0;
    font-family: 'Cinzel', serif;
}

.nav-items {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    width: 50%;
    padding-left: 80px;
    padding-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-menu {
    width: 50%;
    padding-right: 80px;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-menu ul li a {
    color: #6d6b6b;
    text-decoration: none;
}

.nav-menu ul li a.active {
    color: #fff;
    transition: .4s ease color;
}

.menu-btn {
    position: absolute;
    cursor: pointer;
    right: 25px;
    top: 10px;
    color: #fff;
    display: none;
}

@media (max-width: 950px) {
    .nav-items {
        position: relative;
    }

    .nav-logo {
        padding-left: 40px;
    }

    .nav-menu {
        opacity: 0;
        transform: translateY(0px);
        pointer-events: none;
        transition: all 0.2s ease;
        position: absolute;
        width: 100%;
        left: 0;
    }

    .nav-menu.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .nav-menu ul {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        left: 0;
        top: 60px;
        display: block;
    }

    .nav-menu ul li {
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
    }

    .menu-btn {
        display: block;
        color: #5138f3;
    }
}