.wallpaper-content {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: #fff;
}

.wallpaper-photo img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.wallpaper-regards {
    min-width: 400px;
}

.wallpaper-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wallpaper-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.wallpaper-buttons a {
    margin: 0 10px;
    font-size: 2.5rem;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.wallpaper-buttons a:hover {
    transform: scale(1.5);
}

.wallpaper-buttons img {
    width: 40px;
}

.typing {
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

@media(max-width: 475px) {
    .wallpaper-content {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
}