@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe:300,400);

.wallpaper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg) skew(20deg, 20deg);
  width: 450px;
  height: 450px;
  background: #EAE7DF;
  box-shadow: inset 0 0 0 15px #ffCB3A;
  border: 15px solid #000;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.sign::after {
  content: "";
  position: absolute;
  inset: -12px;
  border: 10px dotted #ffCB3A;
  border-radius: inherit;
  pointer-events: none;
}

.text {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  font-family: Helvetica, sans-serif;
  color: #0261DF;
}
.welcome {
  display: flex;
  justify-content: center;
}
.welcome span {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 5px;
  font-size: 30px;
  font-weight: bold;
  color: #FF020D;
  background: #EAE7DF;
  border: 1px solid #DEC08C;
  border-radius: 50%;
  box-shadow: 0px 10px 5px #5D646E;
}
.text .to {
  position: relative;
  top: 20px;
  left: -180px;
  font-family: 'Open Sans';
  font-size: 26px;
  font-weight: 400;
}
.text .fab {
  position: relative;
  top: -24px;
  left: 30px;
  font-family: 'Mr Dafoe';
  font-size: 64px;
  line-height: 50px;
  letter-spacing:5px;
}
.text .las {
  position: relative;
  top: -20px;
  left: 4px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 3px;
  color: red;
}
.text .nv {
  position: relative;
  top: -25px;
  left: 0;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3px;
}