@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe:300,400);

.wallpaper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg) skew(20deg, 20deg);
  width: 450px;
  height: 450px;
  background: #EAE7DF;
  box-shadow: inset 0 0 0 10px #936535;
  border: 16px solid #000;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.sign::after {
  content: "";
  position: absolute;
  inset: -12px;
  border: 10px dotted #936535;
  border-radius: inherit;
  pointer-events: none;
  animation: blinkdots 1.5s infinite;
}

@keyframes blinkdots {
  0% {
    border: 10px dotted #936535;
  }

  10% {
    border: 10px dotted #ffCB3A;
  }

  90% {
    border: 10px dotted #ffCB3A;
  }

  100% {
    border: 10px dotted #936535;
  }
}

.text {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  font-family: Helvetica, sans-serif;
  color: #050346;
}

.welcome span {
  display: inline-block;
  width: 70px;
  height: 60px;
  padding: 5px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background: #580809;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 10px 5px #5D646E;
  animation: blinkwelcome 1.5s infinite;
}

@keyframes blinkwelcome {
  0% {
    background: #050346;
  }

  10% {
    background: #0261DF;
  }

  90% {
    background: #0261DF;
  }

  100% {
    background: #050346;
  }
}

.text .to {
  position: relative;
  top: 24px;
  left: -180px;
  font-family: 'Open Sans';
  font-size: 26px;
  font-weight: 400;
  animation: blinkto 1.5s infinite;
}

.text .my {
  position: relative;
  top: -20px;
  left: 30px;
  font-family: 'Mr Dafoe';
  font-size: 64px;
  line-height: 50px;
  letter-spacing: 5px;
  animation: blinkto 1.5s infinite;
}

@keyframes blinkto {
  0% {
    color: #050346;
  }

  10% {
    color: #0261DF;
  }

  90% {
    color: #0261DF;
  }

  100% {
    color: #050346;
  }
}

.text .las {
  position: relative;
  top: -16px;
  left: 4px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #580809;
  animation: blinklas 1.5s infinite;
}

@keyframes blinklas {
  0% {
    color: #580809;
  }

  10% {
    color: #FF020D;
  }

  90% {
    color: #FF020D;
  }

  100% {
    color: #580809;
  }
}

.text .nv {
  position: relative;
  top: -21px;
  left: 0;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3px;
  animation: blinkto 1.5s infinite;
}

.wallpaper-buttons {
  display: flex;
  justify-content: center;
}

.wallpaper-buttons a {
  margin: 0 10px;
  font-size: 2.5rem;
  color: #580809;
  transition: transform 0.3s ease, color 0.3s ease;
}

.wallpaper-buttons a:hover {
  color: #FF020D;
}

.wallpaper-buttons img {
  width: 40px;
}